.about__wrap-right {
    width: 500px;
    flex-shrink: 0;
}

.main {
    background-color: rgb(213, 226, 236);
    color: rgb(9, 45, 56);
    padding: 10px;
}


.new__card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
    
}

.new__item {
    list-style-type: none;
width: 300px;
}


.best__card {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}

.best__item {
    list-style-type: none;

}

.news__card {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: nowrap;
}

.news__item {
    list-style-type: none;
    max-width: 300px;
}

.new__description{
    margin-bottom: 30px;
}